header {
display: flex;
height: 100px;
margin: auto;
width: 100%;
}


#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto_perfil {
    display: flex;
    width: 100px;

}

body{
    background-color: #fefae0;
}

}
.descricao{
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-left: 600px;
}
.habilidades{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
