.center{
    text-align: center;
}
.paddin{
    border: 1px solid #4CAF50;

}
h2 {
    font-size: 25px;
}
body{
    background-color: #fefae0;
}
.border{
    border-style: double;
    border-color: #d4a373;
    padding-left: 550px;
}
.descricao{
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    text-align: center;
}
.habilidades{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    text-align: center;
    
}
h4{
    padding-left: 2%;
}